*.egg-info
__pycache__/
.ipynb_checkpoints/
dist/
build/
.vscode/
*.db

lib/
bash/
logs/
wandb/

asset/agent*
asset/demonstration*
asset/environments/resource/wallpapers_bmp

*debug*
*note*
*_evaluate*.py
*.pt
*.pdf
*.npy
.DS_Store
*/.DS_Store
